<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Home</title>
</head>
<body>
  <h1>Welcome to the Store Management System</h1>
  <nav>
    <ul>
      <li><a class="button" href="/stores">Stores</a></li>
      <li><a class="button" href="/products">Products</a></li>
      <li><a class="button" href="/managers">Managers</a></li>
    </ul>
  </nav>
</body>
</html>
